<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INumberConversionSoapType" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint
                    address="http://www.dataaccess.com/webservicesserver/NumberConversion.wso"
                    binding="basicHttpBinding"
                    bindingConfiguration="BasicHttpBinding_INumberConversionSoapType"
                    contract="NumberConversionSoapType"
                    name="NumberConversionSoapTypeClient">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>